export APP_ROOT=$(pwd)
export SQL_PORT=36
export PUBLIC_PORT=80
export SECURE_PORT=88
set-window-title $(basename $APP_ROOT):${PUBLIC_PORT}/${SECURE_PORT}

export DOCKER_WRAPPER_RC=$APP_ROOT/.docker-wrapper.sh

export PUBLIC_APP_PORT=10680
export SECURE_APP_PORT=10688

DOMAIN=$USER.dev.getto.systems
ORIGIN=https://dev-example-ui.$DOMAIN

export RUN_CODE_BUILDER=TRUE

# auth
export AUTH_PORT=10691

export RESET_PASSWORD_URL=$ORIGIN/dist/index.html
export CLOUDFRONT_RESOURCE='https://secure.example.getto.systems/*'

export SECRET_TICKET_PRIVATE_KEY=$(cat ./.secret/ec384-key-pair.pkcs8.pem)
export SECRET_TICKET_PUBLIC_KEY=$(cat ./.secret/ec384-key-pair.pub.pem)

export SECRET_API_PRIVATE_KEY=$(cat ./.secret/ec384-key-pair.pkcs8.pem)
export SECRET_API_PUBLIC_KEY=$(cat ./.secret/ec384-key-pair.pub.pem)

export SECRET_RESET_TOKEN_PRIVATE_KEY=$(cat ./.secret/ec384-key-pair.pkcs8.pem)
export SECRET_RESET_TOKEN_PUBLIC_KEY=$(cat ./.secret/ec384-key-pair.pub.pem)

export SECRET_CLOUDFRONT_PRIVATE_KEY=$(cat ./.secret/cloudfront-pk.pem)

export DYNAMODB_AUTH_NONCE_TABLE=$(cat ./.secret/dynamodb-auth-nonce-table.txt)
export DYNAMODB_AUTH_TICKET_TABLE=$(cat ./.secret/dynamodb-auth-ticket-table.txt)
export DYNAMODB_AUTH_USER_TABLE=$(cat ./.secret/dynamodb-auth-user-table.txt)
export DYNAMODB_AUTH_LOGIN_ID_TABLE=$(cat ./.secret/dynamodb-auth-login-id-table.txt)
export DYNAMODB_AUTH_RESET_TOKEN_DESTINATION_TABLE=$(cat ./.secret/dynamodb-auth-reset-token-destination-table.txt)
export DYNAMODB_AUTH_RESET_TOKEN_TABLE=$(cat ./.secret/dynamodb-auth-reset-token-table.txt)

export AWS_ACCESS_KEY_ID=$(cat ./.secret/aws-access-key-id.txt)
export AWS_SECRET_ACCESS_KEY=$(cat ./.secret/aws-secret-access-key.txt)

# domain
export CORE_PORT=10699

# api
export API_PORT=10690

export DOMAIN
export ORIGIN

export SECRET_CLOUDFRONT_KEY_PAIR_ID=KEY-PAIR-ID

export AUTH_SERVICE_URL=http://127.0.0.1:$AUTH_PORT
export CORE_SERVICE_URL=http://127.0.0.1:$CORE_PORT

# ui
export API_SERVER_URL=https://dev-example-api.$USER.dev.getto.systems
export PUBLIC_SERVER_URL=https://dev-example-ui.$USER.dev.getto.systems
export SECURE_SERVER_URL=https://dev-example-secure.$USER.dev.getto.systems
export BUILD_ENV=development

# sql
export SQL_INSTANCE=$(cat ./.secret/cloudsql-instance.txt)
export SQL_CREDENTIAL=$APP_ROOT/.secret/cloudsql-credential.json
