.DS_Store
/tmp/

/.secret/

/node_modules/
/target/
/src/target/

/ui/public/dist/coverage/
/ui/public/dist/**/*.html

/ui/public/dist/css/*
!/ui/public/dist/css/.keep

/src/**/y_*/*
!/src/**/y_protobuf/mod.rs
