.DS_Store
/tmp/

/.secret/

/node_modules/
/target/

/storybook/node_modules/
/storybook/src/

/ui/public/dist/coverage/
/ui/public/dist/storybook/

/public/dist/css/*
!/public/dist/css/.keep

/public/dist/**/*.js
/secure/dist/**/*.js

/src/**/y_*/*
